on: [push, pull_request]
name: "SQLAlchemy >=1.4.24 versions"
jobs:
  tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - "3.12"
        clickhouse-version:
          - 23.8.4
        sa-version: [24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]

    name: ${{ matrix.python-version }} SA=1.4.${{ matrix.sa-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
#      - name: Login to Docker Hub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Install test requirements
        run: |
          pip install --upgrade pip setuptools wheel
          python testsrequire.py
          python setup.py develop
          # Limit each test time execution.
          pip install pytest-timeout
      - name: Install SQLAlchemy
        run: pip install sqlalchemy==1.4.${{ matrix.sa-version }}
      - name: Setup /etc/hosts
        run: |
          # Overriding setup.cfg. Set host=clickhouse-server
          sed -i 's/^host=localhost$/host=clickhouse-server/' setup.cfg
          # Make host think that clickhouse-server is localhost
          echo '127.0.0.1 clickhouse-server' | sudo tee /etc/hosts > /dev/null
      - name: Start ClickHouse server container
        run: |
          echo "VERSION=${{ matrix.clickhouse-version }}" > tests/.env
          if [[ "${{ matrix.clickhouse-version }}" > "21.7" ]]; then echo "ORG=clickhouse"; else echo "ORG=yandex" ; fi  >> tests/.env
          docker compose -f tests/docker-compose.yml up -d
      - name: Run tests
        run: pytest --timeout=10 -v
        timeout-minutes: 2
